body {
    font-family: Arial;
    margin: 0;
    background-color: #f4f4f4;
    text-align: center;
}

header {
    background: #222;
    color: white;
    padding: 30px;
}

nav {
    background: #4CAF50;
    padding: 10px;
}

nav a {
    color: white;
    margin: 15px;
    text-decoration: none;
    font-weight: bold;
}

section {
    background: white;
    margin: 20px;
    padding: 30px;
    border-radius: 10px;
}

input, textarea {
    width: 60%;
    padding: 10px;
}

button {
    padding: 10px 20px;
    background: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

@media (max-width: 600px) {
    nav a {
        display: block;
        margin: 10px;
    }

    input, textarea {
        width: 90%;
    }
}
